<style>
    .searchBoxWrapperMini {
        position: relative;
        display: flex;
    }

    .searchBoxMini {
        width: calc(20vw - 25px);
        outline: none;
        border: none;
        border-bottom: 3px solid darkred;
        font-size: 18px;
    }

    .searchBoxMini:focus {
        color: darkred;
    }

    .searchButtonMini {
        cursor: pointer;
        width: 50px;
        background: none;
        text-align: center;
        border: none;
        border-bottom: 3px solid darkred;
        font-size: 24px;
    }
</style>

<%
id = id || 'defaultSearchBoxMini';
placeholder = placeholder || 'Buscar itens...';
oninput = oninput || ''; 
%>

<div class="searchBoxWrapperMini">
    <input type="text" class="searchBoxMini" id="<%= id %>" placeholder="<%= placeholder %>" oninput=<%= oninput %>>
    <button class="searchButtonMini">🔍</button>
</div>