<style>
    .searchBoxWrapperMiniExt {
        position: relative;
        display: flex;
    }

    .searchBoxMiniExt {
        width: calc(40vw - 25px);
        outline: none;
        border: none;
        border-bottom: 3px solid darkred;
        font-size: 18px;
    }

    .searchBoxMiniExt:focus {
        color: darkred;
    }

    .searchButtonMiniExt {
        cursor: pointer;
        width: 50px;
        background: none;
        text-align: center;
        border: none;
        border-bottom: 3px solid darkred;
        font-size: 24px;
    }
</style>

<div class="searchBoxWrapperMiniExt">
    <input type="text" class="searchBoxMiniExt" id="abacate" placeholder="Filtrar itens...">
    <button class="searchButtonMiniExt">🔍</button>
</div>