<header class="header">
    <a href="/"><img src="/img/logo.png" alt="Logo do sistema" id="logo"/></a>
    <p id="header_leave_button"><a href="/logout">Sair</a></p>
</header>
<aside class="sidebar">
    <ul>
        <li>Gerenciar</li>
        <li><a href="/projetos">Projetos</a></li>
        <li><a href="/alunos">Alunos</a></li>
        <li><a href="/professores">Professores</a></li>
        <li><a href="/cursos">Cursos</a></li>
    </ul>
    <ul>
        <li>Gerar</li>
        <li><a href="/documentos">Documentos</a></li>
    </ul>
    <ul>
        <li>Mais</li>
        <li><a href="/info">Sobre</a></li>
    </ul>
</aside>