<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - GradMate</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/login.css">


    <script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.14.5/dist/sweetalert2.all.min.js
"></script>
</head>

<body>
<div style="width: 100vw; height: 100vh; display: grid; align-items: center; justify-content: center" class="fade-in">
<main>
    <div id="left_side">
        <img src="img/logo.svg" alt="Logo do sistema" id="logo"/>
        <p id="title_login">Login</p>
    </div>
    <form id="right_side" action="/login" method="POST">
        <label for="input_user" class="lbl_input_txt">Usuário</label>
        <input type="text" name="user" id="input_user" class="input_txt" maxlength="50">
        <label for="input_pass" class="lbl_input_txt">Senha</label>
        <input type="password" name="pass" id="input_pass" class="input_txt" maxlength="50">
        <button id="submit">Entrar</button>
    </form>
    <% if (typeof loginValid !== 'undefined' && !loginValid) { %>
        <script>
            setTimeout(function () {
                Swal.fire({
                    title: "Login inválido",
                    text: "Verifique suas credenciais e tente novamente!",
                    icon: "error"
                })
            }, 200)

        </script>
    <% } %>
</main>
</div>
</body>
</html>