<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
    <title>GradMate</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
</head>

<body class="fade-in">
    <div class="container">
        <form class="formulario" action="/login" method="POST" style="padding-top: 0">
            <div class="formulario" style="gap: 5px; border: none; padding: 0">
            <img src="/img/logo.png" width="210" height="50" style="object-fit:cover">
            <h2 class="bold" style="margin:0">Login</h2> 
            </div>
            <input class="textInput" type="email" name="login" placeholder="Email">
            <input class="textInput" type="password" name="senha" placeholder="Senha">
            <input class="botaoSubmit" type="submit" value="Entrar">
        </form>
        <img class="logo" src="/img/logo_login.png">
    </div>
</body>

</html>