@import url('./base.css');

body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex: 1;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 0em;
    margin: 0 auto;
}

.studentProfileCard {
    display: flex;
    flex-direction: row;
    gap: 7em;
}

.profileCardText {
    flex-grow: 1;
    max-width: 50em;
}

.profilePictureBig {
    border-radius: 20%;
    object-fit: cover;
    width: 11em;
    height: 15em;
}

.projectSection {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.projectSection h2 {
    margin-bottom: 0;
}

.mainPageProjectCard {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 0px 0px 20px 20px;
    border: 2px darkred solid;
    padding: 10px 15px;
    width: 70em;
    height: 11em;
}

.goToProjectButton {
    padding: 10px 20px;
    background-color: darkred;
    color: #fff;
    transition-duration: 300ms;
    border-radius: 32px;
    font-size: 24px;

    position: absolute;
    right: 15px;
    bottom: 15px;
    float: right;
}

.goToProjectButton:hover {
    background-color: red;
    transition-duration: 300ms;
    border-color: red;
}

.projectCardDescription {
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
}