@import url("main.css");

body {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 70vw;
    margin: auto;
}

#logo {
    width: 70%;
    height: 12vh;
}

#submit {
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: 1.5em;
    padding: 0.2em 0.5em;
    border:none;
    background-color: red;
    border-radius: 15px;
    color: white;
}

#submit:hover {
    background-color: indianred;
}

#right_side, #left_side {
    display: flex;
    flex-direction: column;
}

#left_side {
    width: 65%;
    text-align: left;
    gap: 5px;
}

#right_side {
    width: 25%;
    text-align: left;
    gap: 10px;
}

.lbl_input_txt {
    font-size: 1.2em;
}

.input_txt {
    font-size: 1em;
    padding: 0.2em 0.5em;
}

#title_login {
    font-weight: bold;
    font-size: 3em;
    padding-left: 1.5vw;
    padding-bottom: 6vh;
}